@import "../fontIcons/css/fontello.css";
@import "../../src/Roboto/Roboto.scss";

html, body{
  margin: 0;
  padding: 0;
  font-family: 'RobotoRegular';


  }
body{
//  @media  (min-width:1500px) {
//  //  //max-width: 1280px;
//    display: flex;
//  //  //flex-direction: column;
//    align-items: center;
//    justify-content: center;
//  }
}
.stop-body{
  overflow: hidden;
}
#mountNode{
  //@media  (min-width:1500px) {
  //  max-width: 1500px;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
  //}
  .RenderRouter{
    color: #9dafbd;
    h1,h2 {
      color: #026fc2;
      font-family: "RobotoMedium";
    }
    h2.with-left-stroke{
      font-size: 48px;
      color: rgba(51, 51, 51, 1.000);
      position: relative;
      padding-left: 26px;
      display: flex;
      align-items: center;
      &:before{
        content: '';
        position: absolute;
        width: 10px;
        height: 58px;
        background: rgba(158, 125, 49, 1.000);
        left: 0;
        top: 0;
        opacity: .9;
      }
    }

    //@import "layouts/Loader";
    @import "layouts/Header";
    @import "layouts/NotFound";
    @import "layouts/ReadableDraftJs";
    @import "main/index";
    @import "gallery/index";
    @import "about/index";
    @import "service/index";
    @import "news/index";

    @import "admin/login";
    @import "admin/index";


    .shake-element{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }


    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}


