.settings-gallery{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(243, 245, 246, 1.000);
  width: 100%;
  .gal-container{
    width: 85%;
    background: white;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 0 0px 25px rgba(64, 64, 64, .05);
    padding: 20px 25px;


    z-index: 2;
    position: relative;
    //margin: 75px 0;
    //background: #000;
    //box-sizing: border-box;
    //padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //height: 80%;
    align-items: center;
    align-content: center;
    //width: 100%;
    @media screen and (max-width: 700px) {
      padding: 0 50px;

    }
    h2, h3, h4{
      //color: rgba(158, 125, 49, 1.000);
      color: #000;
    }

    .albom-card {
      margin-bottom: 20px;
      box-shadow: 0px 5px 25px rgba(3, 3, 3, 0.2);
      width: 30%;
      min-width: 30%;
      height: 200px;
      border-radius: 5px;
      position: relative;
      background: transparent no-repeat center center; //fixed
      background-size: cover;
      transition: .25s;
      //cursor: pointer;
      overflow: hidden;

      .title {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 26px;
        transition: .25s;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -.5px;
        word-spacing: 5px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);
      }

      .settings {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s;
        opacity: 0;
        .delete, .change {
          position: relative;
          z-index: 1;
          margin-right: 20px;
          margin-top: 15px;
          padding: 10px 20px;
          cursor: pointer;
          background: red;
          transition: .25s;
          color: white;
        }
        .change {
          background: rgba(168, 138, 71, 1.000);
        }
      }

      &:before{
        border-radius: 5px;
        z-index: 1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: .25s;
        background: rgba(0, 0, 0, .4);
      }
      &:hover{
        .title{
          //display: none;
          opacity: 0;
        }
        .settings{
          opacity: 1;
        }
      }

    }


    .head{
      flex: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      input{
        width: 100%;
        box-sizing: border-box;
        font-size: 2em;
        margin-bottom: 20px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 3px;
        background: white;
        transition: .25s;
        color: rgba(158, 125, 49, 1.000);
        &:active, &:hover, &:focus {
          outline: 0;
          outline-offset: 0;
          border-color: rgba(158, 125, 49, 1.000);
          color: black;
          background: rgba(240, 242, 243, 1.000);
        }
      }
      .save{
        border-radius: 4px;
        width: 125px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background:rgba(168, 138, 71, 1.000);
        box-shadow: 0px 5px 20px rgba(161, 125, 47, 0.4);
        //margin-top: 35px;
        cursor: pointer;
        margin-bottom: 20px;
        align-self: center;
      }

      .add-photo{
        border-radius: 4px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background:rgba(168, 138, 71, 1.000);
        box-shadow: 0px 5px 20px rgba(161, 125, 47, 0.4);
        //margin-top: 35px;
        cursor: pointer;
        margin-bottom: 20px;
        align-self: center;
      }

      .highlights{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        .counter{
          span{
            font-size: 1.2em;
            color: rgba(171, 137, 70, 1.000);
          }
        }

        .btn-delete, .btn-cancel {
          position: relative;
          z-index: 1;
          margin-right: 20px;
          margin-top: 15px;
          padding: 10px 20px;
          cursor: pointer;
          background: red;
          transition: .25s;
          color: white;
        }

        .btn-cancel{
          background: rgba(168, 138, 71, 1.000);
        }
      }
    }
    .gallery-img{
      margin-bottom: 20px;
      box-shadow: 0px 5px 25px rgba(3, 3, 3, 0.2);
      width: 30%;
      min-width: 30%;
      height: 200px;
      border-radius: 5px;
      position: relative;
      background: transparent no-repeat center center; //fixed
      background-size: cover;
      overflow: hidden;
      cursor: pointer;
      transition: .25s;
      border: 3px solid transparent;

      @media screen and (max-width: 700px) {
        flex: 100%;
        max-width: 100%;
      }
      &:nth-child(3), &:nth-child(6){
        margin-right: 0;
      }
      &:hover{
        transform: scale(1.02);
        //box-shadow: rgba(224, 237, 248, 1) 0 0 20px 1px;
        box-shadow: 0px 5px 25px rgba(3, 3, 3, 0.07);

      }
    }

    .highlight{
      border: 3px solid rgba(171, 137, 70, 1.000);
      box-shadow: 0px 5px 20px rgba(161, 125, 47, 0.4);
    }


    .upload{
      z-index: 10000;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      .upload-container{
        width: 50%;
        background: white;
        box-sizing: border-box;
        margin-bottom: 25px;
        box-shadow: 0 0px 25px rgba(64, 64, 64, .05);
        padding: 20px 25px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .up{
          position: relative;
          width: 150px;
          height: 50px;
          //background: #000;
          background: rgba(168, 138, 71, 1.000);
          color: white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          input{
            display: none;
            z-index: 100;
            position: absolute;
            visibility: hidden;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        .save{
          padding: 15px 20px;
          transition: .25s;
          cursor: pointer;
          background: transparent;
          border-radius: 6px;
          &:hover{
            background: rgba(168, 138, 71, 1.000);
            color: white;
          }
        }
      }
    }
  }
}