@font-face {
  font-family: 'RobotoRegular';
  src:  url('/src/Roboto/Roboto-Regular.ttf') ;
}

@font-face {
  font-family: 'RobotoMedium';
  src:  url('/src/Roboto/Roboto-Medium.ttf') ;
}

@font-face {
  font-family: 'RobotoBold';
  src:  url('/src/Roboto/Roboto-Bold.ttf') ;
}