.big-service{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(243, 245, 246, 1.000);
  .serv-header{
    display: flex;
    align-items: center;
    //background: #000;
    width: 100%;
    height: 90px;
    //padding: 10px 100px 0px;
    padding: 10px 7.6% 0;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 5px 25px rgba(64, 64, 64, .05);
    background: white;
    margin-bottom: 25px;

    h1{
      //margin: 0;
      //color: rgba(158, 125, 49, 1.000);
      //padding-top: 10px;
      //box-sizing: border-box;
      //display: flex;
      //align-items: center;
      //position: relative;
      //padding-left: 15px;

      margin: 0;
      color: #9e7d31;
      /* padding-top: 10px; */
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 25px;

      &:before{
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 10px;
        background: #9e7d31;
      }
    }
    i{
      //color: rgba(158, 125, 49, 1.000);
      //padding-top: 10px;
      font-size: 3em;
      transition: .25s;
      cursor: pointer;
      position: absolute;
      left: 4.8%;
      &:before{
        margin: 0;
      }
      &:hover{
        color: rgba(158, 125, 49, 1.000);
      }
    }
    &:before{
      //content: '';
      //position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(64, 64, 64, 0.2);
      bottom: -1px;
      left: 0;
    }
    @media  (max-width:481px) {
      padding: 20px 10px 20px 20px;
      min-height: 90px;
      height: auto;
      h1{
        font-size: 24px;
      }
    }
  }
  .serv-container{
    width: 85%;
    background: white;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 0 0px 25px rgba(64, 64, 64, .05);
    padding: 20px 25px;
    h2, h3, h4{
      //color: rgba(158, 125, 49, 1.000);
      color: #000;
    }
    span.padding{
      padding-left: 15px;
    }
    p{
      color: #888888;
      line-height: 31px;
      font-size: 18px;
      letter-spacing: -0.5px;
      padding: 0 0 0 15px ;
    }
    ul, ol{
      color: #888888;
      line-height: 31px;
      font-size: 18px;
      letter-spacing: -0.5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li{
        //cursor: pointer;
        //transition: .25s;
        //&:hover{
        //  color: black;
        //}
      }
      //padding: 0 0 0 15px ;
    }
    b{
      color: #000;
    }
  }
  @media  (max-width:481px) {
    .about-header {
      padding-left: 40px;
      padding-right: 25px;
    }

      .about-container {
      width: 90%;
      padding: 15px 20px;
    }
  }
}